.animation-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}


.line-highlight {
  background: #429c38aa;
}

.line-highlight.inactive {
  background: #dfdfdfa8;
}

.suspended {
  animation: blinkingBackground 3s infinite;
}

.frame-container {
  margin-left: 30px;
  margin-top: 30px;
}

.nested-frame {
  margin-left: 10px;
}

path.node-fill {
  fill: none;
  stroke-width: .5;
  stroke: none;
}

path.node-outline {
  fill: none;
  stroke-width: 1;
  stroke: black;
}

path.connector {
  animation: dash .3s linear forwards;
  fill: none;
  stroke-dasharray: 10, 5;
  stroke-dashoffset: 30;
  stroke-width: 1;
  stroke: #cacdcf;
  z-index: -1;
}

.node-fill.active {
  fill: #429c38aa;
  stroke: #429c38aa;
}

.node-outline.active {
  stroke: #429c38aa;
}

@keyframes dash {

  to {
    stroke-dashoffset: 0;
  }
}

.node-fill.visited {
  fill: #dfdfdfa8;
  stroke: #dfdfdfa8;
}

.node-outline.visited {
  stroke: #dfdfdfa8;
}

text.visited,
text.null.visited {
  fill: #00000055;
}

g.visited {
  stroke: #00000055;
}

.connector circle {
  stroke: #cacdcf;
}

/* Should be the last rule so it overrides */
g.active,
g.active path,
.connector.active circle {
  stroke: #429c38aa;
}

pre[class*=language-].line-numbers {
  padding-left: 3.2em;
}


.frame>pre {
  background: #fffffe;
  border-right: 2px solid #dfdfdfa8;
  font-size: 13px;
  margin: 0;
  padding-bottom: 0;
  flex-grow: 1.5;
  overflow-x: hidden;
}

.frame.active>pre {
  border-right: 2px solid #429c38aa;
}

.frame {
  animation: append-animate .3s linear;
  border-radius: 10px;
  border: 2px solid #dfdfdfa8;
  position: absolute;
  width: 27.5%;
  min-width: 260px;
  overflow-x: hidden;
}

.frame.active {
  border: 2px solid #429c38aa;
  /* animation: blinkingBorder 2s infinite linear; */
}

.frame.delete {
  animation: delete forwards 0.5s linear 1;
}

@keyframes delete {
  0% {
    transform: scale(1);
  }

  100% {
    width: 0;
    transform: scale(0);
    /* opacity: 0;
    padding: 0;
    margin: 0; */
  }
}

@keyframes append-animate {

  from {
    border: 2px solid #429c38aa;
    opacity: 0;
    transform: scale(0);
  }

  to {
    border: 2px solid #429c38aa;
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes blinkingBackground {

  0% {
    background-color: #dfdfdfa8;
  }

  50% {
    background-color: #dfdfdf00;
  }

  100% {
    background-color: #dfdfdfa8;
  }
}

@keyframes blinkingBorder {

  0% {
    border-color: #429c3855;
  }

  50% {
    border-color: #429c38ff;
  }

  100% {
    border-color: #429c3855;
  }
}


text.null.active {
  fill: #429c38aa;
}


.variables {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1.25rem 0.75rem;
  font-size: 14px;
  /* background: white; */
  /* opacity: 0%; */
}


.slidecontainer {
  width: 100%;
}

table.variable-grid {
  border-collapse: collapse;
  border-spacing: 0;
}

.variables td {
  text-align: right;
}

.variables td.first-cell {
  border-right: 1px solid silver;
}

tr.first-row td {
  border-bottom: 1px solid silver;
}

.variables td {
  padding: .3em;
  color: #555;
}

.variables td.root-cell {
  color: white;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  -webkit-transition: .2s;
  appearance: none;
  background: #d3d3d3;
  height: 25px;
  opacity: 0.7;
  margin-top: 15px;
  outline: none;
  transition: opacity .2s;
  width: 60%;

  /* Override default CSS styles */
  /* Full-width */
  /* Specified height */
  /* Grey background */
  /* Remove outline */
  /* Set transparency (for mouse-over effects on hover) */
  /* 0.2 seconds transition on hover */
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;

  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #04AA6D;
  cursor: pointer;
  height: 25px;
  width: 25px;

  /* Override default look */
  /* Set a specific slider handle width */
  /* Slider handle height */
  /* Green background */
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  background: #04AA6D;
  cursor: pointer;
  height: 25px;
  width: 25px;

  /* Set a specific slider handle width */
  /* Slider handle height */
  /* Green background */
  /* Cursor on hover */
}