.animation-container {
  position: relative;
  border-radius: 5px;
  background: #fffcf691;
  border: 2px solid #fff3e2;
  margin-bottom: 2em;
}

@media (min-width: 640px) {
  .animation-container {
      width: 85%;
  }
}

.play-row {
  border-top: 2px solid #fff3e2;
  padding: .5em 0em;
}

.line-highlight {
  background: #429c38aa;
}

.line-highlight.inactive {
  background: #dfdfdfa8;
}

.flash {
  animation: blinkingBackground 1.5s 1;
}

.frame-container {
  margin-left: 30px;
  margin-top: 30px;
}

.nested-frame {
  margin-left: 10px;
}

path.node-fill {
  fill: none;
  stroke-width: .5;
  stroke: none;
}

path.node-outline {
  fill: none;
  stroke-width: 1;
  stroke: black;
}

path.connector {
  animation: dash .3s linear forwards;
  fill: none;
  stroke-dasharray: 10, 5;
  stroke-dashoffset: 30;
  stroke-width: 1;
  stroke: #cacdcf;
  z-index: -1;
}

.node-outline.active {
  stroke: #429c38aa;
}

@keyframes dash {

  to {
    stroke-dashoffset: 0;
  }
}

.node-fill.visited {
  fill: #dfdfdfa8;
  stroke: #dfdfdfa8;
}

.node-outline.visited {
  stroke: #dfdfdfa8;
}

text.visited,
text.null.visited {
  fill: #00000055;
}

g.visited {
  stroke: #00000055;
}

.connector circle {
  stroke: #cacdcf;
}

pre[class*=language-].line-numbers {
  padding-left: 3.2em;
}


.frame>pre,
.snippet>pre {
  background: #fffffe;

  font-size: 13px;
  margin: 0;
  padding-bottom: 0;
  flex-grow: 1.5;
  overflow: hidden;
}

.frame.active .variables {
  border-left: 2px solid #429c38aa;
}

.frame,
.snippet {
  border-radius: 10px;
  border: 2px solid #dfdfdfa8;
  width: 27.5%;
  min-width: 260px;
  overflow-x: hidden;
}

.frame {
  animation: append-animate .5s linear;
  position: absolute;
}

.frame.active {
  border: 2px solid #429c38aa;
}

.frame.delete {
  animation: delete forwards 0.5s linear 1;
}

@keyframes delete {
  0% {
    transform: scale(1);
  }

  100% {
    /* width: 0; */
    /* transform: scale(0); */
    opacity: 0;
  }
}

@keyframes append-animate {

  from {
    border: 2px solid #429c38aa;
    opacity: 0;
    /* transform: scale(0); */
  }

  to {
    border: 2px solid #429c38aa;
    opacity: 1;
    /* transform: scale(1); */
  }
}

@keyframes blinkingBackground {

  0% {
    background-color: #429c3811;
  }

  50% {
    background-color: #429c38e5;
  }

  100% {
    background-color: #429c38aa;
  }
}


text.null.active {
  fill: #429c38aa;
}


.variables {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-left: 2px solid #dfdfdfa8;
  padding: 1rem 0.75rem;
  font-size: 14px;
}


.slidecontainer {
  width: 100%;
}

table.variable-grid {
  border-collapse: collapse;
  border-spacing: 0;
}

.variables tr.hidden, .variables tr.hidden td {
  border-color: transparent;
  visibility: hidden;
}

.variables tr {
  border-bottom: 1px solid silver;
}

.variables td {
  text-align: right;
}

.variables td.first-cell {
  border-right: 1px solid silver;
}


.variables td {
  padding: .3em;
  color: #555;
}

.variables td.root-cell {
  color: white;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  -webkit-transition: .2s;
  appearance: none;
  background: #ccc;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  flex-grow: 2;
  line-height: normal;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  /* -webkit-appearance: none; */
  cursor: pointer;
  width: 25px;
}

.slider::-moz-range-thumb {
  cursor: pointer;
  width: 25px;
}

.slider-container {
  width: 60%;
}

button.step {
  font-size: 13px;
}
