.container {
    width: 85%;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

p, ol {
    line-height: 1.6;
}

.note {
    color: rgb(181, 41, 41);
}

.snippet {
    width: min-content;
    margin: 0 auto;
}


#tree-snippet {
    font-size: 13px;
}

.dfs-tree-animation {
    position: relative;
}

#animated-dfs {
    position: absolute;
    top: 0;
    left: 0;
}

.dfs-tree-animation .variables {
    padding: 1.25rem 1.75rem;
    font-size: 13px;
}

#tree-animation-controls {
    margin-top: 30px;
}

#tree-animation-graph .node, #tree-animation-graph .edge {
    visibility: hidden;
}

#tree-animation-graph .shown {
    visibility: initial;
}

button.play {
    margin-left: 20px;
}